@import './variables.scss';
@import './mixins.scss';
@import './basic-schedule-form/styles.scss';
@import './busy-view/styles.scss';
@import './channels-field/styles.scss';
@import './checkbox-item-list/styles.scss';
@import './custom-field/styles.scss';
@import './dashboards-field/styles.scss';
@import './dashboard-picker/styles.scss';
@import './email-channel-form/styles.scss';
@import './empty-view/styles.scss';
@import './error-view/styles.scss';
@import './multi-select-2/styles.scss';
@import './nrql-editor-2/styles.scss';
@import './overlay/styles.scss';
@import './publish-configs-field/styles.scss';
@import './publish-config-form/styles.scss';
@import './publish-configs-table/styles.scss';
@import './query-field/styles.scss';
@import './report-history-list/styles.scss';
@import './report-history-modal/styles.scss';
@import './report-table/styles.scss';
@import './schedule-builder/styles.scss';
@import './schedule-field/styles.scss';
@import './slack-channel-form/styles.scss';
@import './screens/edit-channel/styles.scss';
@import './screens/edit-publish-config/styles.scss';
@import './screens/edit-report/styles.scss';
@import './screens/home/styles.scss';

.errorMessage {
    color: #DF2D24;
    margin: 4px 0;
}
