{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint"
  ],
  "plugins": [
    "disable"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "class-methods-use-this": "off",
    "node/no-unpublished-require": ["error", {
      "allowModules": ["js-yaml", "yaml-cfn"]
    }]
  },
  "processor": "disable/disable",
  "overrides": [
    {
      "files": [".js", "**/*.js"],
      "settings": {
        "disable/plugins": ["jsdoc"]
      }
    },
    {
      "files": ["*.md", "**/*.md"],
      "parser": "eslint-plugin-markdownlint/parser",
      "extends": ["plugin:markdownlint/recommended"],
      "rules": {
        "markdownlint/md013": [
          "error", {
            "code_blocks": false,
            "tables": false,
            "headings": false
          }
        ],
        "markdownlint/md024": [
          "error", {
            "siblings_only": true
          }
        ],
        "max-len": "off"
      }
    }
  ]
}
