.edit-publish-config-screen {
    width: 100%;

    .edit-publish-config-form {
        background-color: #fff;
        display: block;
        margin: 0;

        .form-wrapper {
            width: 100%;
        }
    }
}
