<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>{{title}}</title>
  {% endblock %}
</head>

<body>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </header>
</body>

</html>
