<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{{title}}</title>
  {% endblock %}
</head>

<body>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </header>
</body>

</html>
