.error-view {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 24px;
    text-align: center;

    img {
      margin: 20px 0;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #464e4e;
      text-transform: none;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: #8e9494;
    }

    .error-list {
      margin-top: 10px;
      text-align: left;

      h3 {
        margin: 5px 0;
      }

      .error-container {
        background-color: #fcf2f3;
        border-radius: 4px;
        transition: all .1s cubic-bezier(.25, .46, .45, .94);
        border: 1px solid #fae1e4;

        .error-body-header {
          display: flex;
          align-items: center;
          padding: 10px 12px;

          .error-title {
            display: inline-block;
            flex-grow: 1;
            margin-left: 8px;
            font-size: 14px;
            color: #bf0015;
          }
        }
      }
    }
  }
