.multiselect {
    width: 100%;

    .field {
      background-color: #f3f4f4;
      border: 1px solid #cdd3d5;
      border-radius: 4px;
      padding: 8px 8px 2px;
      display: flex;

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      .input {
        flex: 1;
        font-size: 12px;
        line-height: 16px;
        cursor: text;

        &.placeholder {
          color: #6b757b;
          margin-bottom: 6px;
          padding: 1px 4px;
          padding-left: 0;
        }
      }
    }

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      padding: 12px 8px;
      background: #ffffff;
      box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02),
        0px 8px 16px 8px rgba(2, 3, 3, 0.05);
      border-radius: 4px;
      position: absolute;
      z-index: 10;

      .item {
        align-items: center;
        display: inline-flex;

        label {
          padding-left: 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .label {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1px 4px;
        background-color: #e1edff;
        border-radius: 3px;
        color: #0b6acb;
        margin-right: 8px;
        margin-bottom: 6px;

        .text {
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .remove {
          margin-left: 4px;
          cursor: pointer;
        }
      }

  }
